body{
background-color: #FFFFFF;
}
  
header{
  background-color: white; 
}

h1{
  font-size: 40px;
}
.container{
  width: 600px;
  margin: 0 auto; 
}
.post{
  border: 1px, solid red;
  backround-color: white

  }

  .post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .post h2,
  .post span {
    padding: 15px 15 px;
  }

span { color: rgb (230, 230, 230);
}
img {
  width: 100%
}
